@import url('https://fonts.googleapis.com/css2?family=David+Libre&family=Montserrat:wght@300&family=Open+Sans+Condensed:wght@300&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
} */

/* HTML5 display-role reset for older browsers */
/* article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
} */

/* ========================================= Global CSS ====================================== */

body {
    font-family: 'David Libre', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans Condensed', sans-serif;

    font-weight: bolder;

    max-width: 80vw;
}

.logo {
    width: 10vw;
}

.nav-item{
    font-size: x-large;
}

footer{
    text-align: right;
}

/* Extra small devices (phones, 400px and down) */
@media only screen and (max-width: 400px) {
    svg{
        margin: 10vw;
        height: 25vw;
        width: 25vw;
    }
}

/* Smaller devices (mini tablets, 400px and up) */
@media only screen and (min-width: 400px) {
    svg{
        margin: 5vw;
        height: 10vw;
        width: 10vw;
    }
}

/* Small devices (tablets, 600px and up) */
@media only screen and (min-width: 600px) {
    svg{
        margin: 2.5vw;
        height: 5.5vw;
        width: 5.5vw;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    svg{
        margin: 2.5vw;
        height: 5vw;
        width: 5vw;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    svg{
        margin: 2vw;
        height: 4vw;
        width: 4vw;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    svg{
        margin: 1.5vw;
        height: 3vw;
        width: 3vw;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1800px) {
    svg{
        margin: 1vw;
        height: 2vw;
        width: 2vw;
    }
}

.bi-youtube{
    color: #f00;
}

.bi-instagram{
    text-decoration: none;
    color: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
}

.bi-twitter{
    color: #1D9BF0;
}

/* 
HOMEPAGE STYLES: This block of css code contains the styles exclusively to the homepage.html webpage.
*/

/* 
WORK PAGE STYLES: This block of css code contains the styles exclusively to the work.html webpage.
*/

/* 
WORK1 PAGE STYLES: This block of css code contains the styles exclusively to the work1.html webpage.
*/



/* 
WORK2 STYLES: This block of css code contains the styles exclusively to the work2.html webpage.
*/


/* 
WORK3 PAGE STYLES: This block of css code contains the styles exclusively to the work3.html webpage.
*/



/* 
ABOUT PAGE STYLES: This block of css code contains the styles exclusively to the events.html webpage.
*/



/* 
CONTACT US STYLES: This block of css code contains the styles exclusively to the contact.html webpage.
*/

form{
    font-size: x-large;
}

form label{
    color: white;
    background-color: #DC3545;
}

.comment-label{
    padding: 1vw;
    padding-right: 4vw;
}

/* iframe{
    text-align: center;
    margin: auto;
    padding: auto;
    height: 40vw;
    width: 80vw;
} */


/* Small - Large devices (small phones to laptops, 1600px and down) */
@media only screen and (max-width: 1600px) {
    iframe{
        text-align: center;
        margin: auto;
        padding: auto;
        height: 40vw;
        width: 80vw;
    }
}

/* Extra large devices (large laptops and desktops, 1600px and up) */
@media only screen and (min-width: 1600px) {
    iframe{
        text-align: center;
        margin: auto;
        padding: auto;
        height: 25vw;
        width: 50vw;
    }
}
/* 
MENU PAGE STYLES: This block of css code contains the styles exclusively to the menu.html webpage.
*/



/* 
EVENTS PAGE STYLES: This block of css code contains the styles exclusively to the events.html webpage.
*/